<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.playstation.com/pt-br/">STORE</a></li>
			<li><a href="https://store.playstation.com/pt-br/pages/latest">RELEASES</a></li>
			<li><a href="https://www.youtube.com/@PlayStation">YOUTUBE</a></li>
			<li><a href="https://blog.playstation.com/?smcid=pdc%3Apt-br%3Aprimary%20nav%3Amsg-news%3Aps-blog">BLOG</a></li>
			<li><a href="https://store.playstation.com/pt-br/product/UP4460-CUSA00789_00-00000CHARITYPACK">DONATION PACKAGE</a></li>
		</ul>
	</div>
</div>
